<phpunit
    bootstrap="./bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="Cart Test Suite">
            <directory phpVersion="5.3.0" phpVersionOperator=">=">./tests/</directory>
            <file>./vendor/someone/mylib/tests/MyClassTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>